body {
    font-family: 'Plus Jakarta Sans';
}

.logo {
    text-decoration: unset;
}

a h2 {
    font-family: 'Plus Jakarta Sans';
    font-size: 24px;
    color: black;
    font-weight: 700;
}

h1 {
    font-family: 'Plus Jakarta Sans';
    font-weight: 500;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 75px 0 75px;
    margin-top: -10px;
    border-bottom: 1px solid #E3E3E3;
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-menu li {
    margin-left: 30px;
}

.nav-menu li a {
    text-decoration: none;
	font-size: 16px;
    color: #6B6B6B;
}

.nav-menu li.active a{
    font-weight: bold;
    color: #3AACFE;
}

.hero-text {
    padding: 25px 0 25px 0;
}

.hero-text span {
    font-weight: bold;
    color: #3AACFE;
}

.hero-text p {
    margin-top: -10px;
}

.featured {
    padding: 0 75px 0 75px;
    display: flex;
    margin-top: 25px;
    align-items: flex-start;
    justify-content: center;
}

img {
    width: 100%;
    height: 100%;
}

input {
    width: 93.5%;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    border: none;
    padding-left: 20px;
    margin-top: 10px;
}

select {
    width: 100%;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    padding-left: 20px;
}

.submit-btn {
    font-family: 'Plus Jakarta Sans';
    width: 100%;
    margin-top: 25px;
    background-color: #3AACFE;
    color: white;
    border: none;
    font-weight: bold;
    justify-content: center;
    padding: 0px;
    justify-items: center;
    align-items: center;
}

.submit-btn:hover {
    background-color: #3590D1;
    
}

select:focus {
    outline: none !important;
    border:2px solid #3AACFE;
}

input:focus {
    outline: none !important;
    border:2px solid #3AACFE;
}

.user-review {
    width: 50%;
    padding: 0 75px 0 75px;
}

.user-review p {
    font-style: italic;
    color: #6B6B6B;
}

label {
    font-weight: bold;
    font-size: 14px;
}

#img img {
    object-fit: cover;
    border-radius: 10px;
}

#img {
    width: 100%;
    height: 100%;
}

.banner {
    width: 100%;
    height: 540px;
    position: relative;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.avatar-icon {
    width: 75px;
    height: 75px;
}

.detail-profile {
    margin-left: 15px;
    display: flexbox;
    align-items: start;
    justify-content: space-around;
}

.detail-profile h4 {
    font-weight: bold;
}

.detail-profile p {
    margin-top: -15px;
}

#call-us {
    background-color: #F5FBFF;
    margin-left: 50px;
    border-radius: 20px;
    padding: 30px 35px;
}

.highlight {
    width: 50%;
    margin-top: 15px;
    padding: 0px 75px 0px 75px;
}

.highlight p {
    font-weight: bold;
}

.highlight img {
    width: 50px;
    height: 50px;
    
}

.item1 {
    display: flex;
    align-items: center;
}

.item1 p {
    font-weight: 500;
    margin-left: 20px;
}

.section-banner {
    width: 100%;
    height: 300px;
    background-color: #F5FBFF;
    margin-top: 65px;
    align-items: center;
    display: flex;
    justify-items: center;
    justify-content: center;
}

.section-banner span {
    font-weight: bold;
    color: #3AACFE;
}